/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*{
    min-width: 0;
    color-scheme: dark;
}

.rdp {
    --rdp-accent-color: #bef264;
    --rdp-background-color: #3f3f46;
    --rdp-selected-color: #1a2e05;
}